.caixaEvento {
  background-color: var(--primary-color);
  border-radius: var(--bd-radius);
  padding-bottom: 0.3rem;
  padding-right: 0.3rem;
}

.caixaEvento:hover {
  padding: 0;

  .evento {
    width: calc(200px + 0.3rem);
    padding-bottom: 0.8rem;
    box-shadow: inset 0px 0px 5px 1px rgba(67, 67, 67, 0.22);
  }
}

.evento {
  border: 1px solid var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  width: 200px;

  background-color: #fff;
  color: var(--black);

  border-radius: var(--bd-radius);
}

.evento hr {
  width: 80%;
  border: 1px solid var(--primary-color);
}

.evento .data {
  font-weight: 700;
}

.evento .detalhes {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.detalhes .horarios {
  border-right: 1px solid;
  padding-right: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.horarios .horarioInicio {
  font-weight: 600;
}

.horarios .horarioTermino {
  font-weight: 400;
  font-size: 0.8rem;
  opacity: 0.7;
}

@media (prefers-color-scheme: dark) {
  .caixaEvento {
    background-color: var(--secondary-color);
  }

  .caixaEvento:hover {
    .evento {
      box-shadow: inset 0px 0px 5px 1px rgb(67 67 67 / 75%);
    }
  }
}
